.current-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    margin: 0 auto;
    text-align: left;
    max-height: 90vh;
    max-width: 100%;
    padding: 5%;
    margin-top: 45px !important;
    /* margin-bottom: 225px !important; */
    padding-bottom: 20px;
    /* border-radius: 10px; */
    position: fixed;
}

.article-scroll {
    overflow-y: auto;
    max-height: 90vh;
}


.paragraph-scroll-wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    width: 100%;
}

.paragraph-scroll-to {
    padding: 2% !important;
    cursor: pointer;
    font-size: 15px !important;
    width: 100% !important;
    background-color: #2d3a5f !important;
    margin: 1% !important;
    border-radius: 10px !important;
    padding-left: 5px !important;
   
}
.paragraph-scroll-to:active {
    outline: none;
  }
.paragraph-scroll {
    overflow-y: auto !important;
    overflow-x: hidden;
    max-height: 50vh !important;
    padding-right: 15px;
    padding-left: 5px;
}

.paragraph-scroll-to-active,
.paragraph-scroll-to:hover {
    background-color: #455b99 !important;
}

.left-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    height: 100%;
    width: 30% !important;
    color: rgb(219, 219, 80) !important;

}

.open-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}








/* scrolls */

.paragraph-scroll::-webkit-scrollbar,
.article-scroll::-webkit-scrollbar {
    background-color: #61576eb4 !important;
    max-height: 80vh !important;
    margin-bottom: 10px !important;
}

.paragraph-scroll::-webkit-scrollbar-track,
.article-scroll::-webkit-scrollbar-track {
    background-color: #61576eb4 !important;
}

.paragraph-scroll::-webkit-scrollbar-thumb,
.article-scroll::-webkit-scrollbar-thumb {
    background-color: #3b2a52b4 !important;
}

.paragraph-scroll::-webkit-scrollbar-thumb:hover,
.article-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #455b99 !important;
    cursor: pointer !important;
}