.modal {
    display: flex;
    justify-content: center !important;
    padding: 1% !important;
    width: 100% !important;
    /* min-height: 40% !important; */
    margin: 0 auto !important;
}

.modal-content {
    min-width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 1%;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png") !important;
    border-radius: 10px;

}
.report-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: 60% !important;
}
.select-article-report {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}


.text-area {
    background-color: #242424;
    margin: 0 auto !important;
    margin-top: 10px;
    padding: 2%;
    border-radius: 10px;
    resize: none;
    width: 85% !important;
    height: 100px !important;
}

.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto !important;
    margin-bottom: 200px !important;
}

.theme {
    cursor: pointer;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 1% !important;
}

.settings-buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: 1s;
}

.close-modal-icon {
   cursor: pointer;
   float: right !important;
   align-self: flex-end;
   border-radius: 50%;
   padding: 0.5% !important;
   font-size: 45px !important;
   position: relative;
   bottom: 60px !important;
   left: 10px !important;
}

.close-modal-icon:hover {
    background-color: rgba(246, 246, 246, 0.342) !important;
    color: black !important;
    transition: 0.5s;
} 

.theme:hover,
.theme-active,
.close-button:hover {
    border: 1px solid white !important;
    background-color: rgba(246, 246, 246, 0.342) !important;
    color: black !important;
    transition: 0.5s;
}

.radio-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.textarea-paragraph {
    width: 100% !important;
    background-color: #242424;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2%;
    border-radius: 10px;
    resize: none;
}

.increase-paragraphs { 
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 1%;
}

.increase-paragraphs label {
    font-size: 20px;
}

.sentences-input {
    border-radius: 10px;
    min-width: 50px;
    padding: 1%;
}