.modal {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png") !important;
    min-width: 40% !important;
    min-height: 40% !important;
    border-radius: 10px;
    color: rgb(219, 219, 80) !important;
}

.select-article-report {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.close-modal-icon {
    float: right !important;
    position: relative;
    left: 510px !important;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5% !important;
}

.text-area {
    background-color: #242424;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2%;
    border-radius: 10px;
    resize: none;
}

.settings-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto !important;
    margin-bottom: 200px !important;
}

.theme {
    cursor: pointer;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 1% !important;
}

.settings-buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: 1s;
}

.theme:hover,
.theme-active,
.close-button:hover {
    background-color: rgba(246, 246, 246, 0.342) !important;
    border: 1px solid white !important;
}

.radio-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.textarea-paragraph {
    width: 100% !important;
    background-color: #242424;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2%;
    border-radius: 10px;
    resize: none;
}

.MuiInput-input::placeholder {
    opacity: 1;
    color: rgb(219, 219, 80) !important;
}