.open-button {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    color: rgb(219, 219, 80) !important;
    text-transform: lowercase !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    width: 200px !important;
    height: 50px !important;
    margin: 1% !important;
    padding-left: 10px !important;
}

.close-button:hover,
.open-button:hover {
    background-color: rgba(246, 246, 246, 0.342) !important;
    border: 1px solid white !important;
    /* color: rgba(39, 37, 37, 0.938); */
}

.open-arrow {
    height: 100% !important;
    margin-left: 5px !important;
    border-radius: 10px !important;
}


.close-buttons {
    display: flex;
    justify-content: center;
    min-width: 100% !important;
    margin: 0 auto !important;
    margin-top: auto;
    align-self: flex-end;

}

.close-button {
    min-height: 100%;
    width: 150px !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    color: rgb(219, 219, 80) !important;
    font-family: 'Syne Mono', monospace !important;
    letter-spacing: 1.5px !important;
    font-size: 17px !important;
    text-transform: lowercase !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}
