.open-button {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    color: rgb(219, 219, 80) !important;
    text-transform: lowercase !important;
    background-color: #2d3a5f !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    width: 200px !important;
    height: 50px !important;
    margin: 1% !important;
    padding-left: 10px !important;
}

.open-button:hover {
    background-color: #455b99 !important;
}

.open-arrow {
    background-color: #1f2947 !important;
    height: 100% !important;
    margin-left: 5px !important;
    border-radius: 10px !important;
}
