.write {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    width: 100%;
    margin: 0 auto !important;
    margin-top: 85px !important;
    height: 100vh !important;
    overflow-y: auto;
}

.write-items { 
    margin: 0 auto !important;
    min-height: 90% !important;
    display: flex;
    flex-direction: column;
    max-width: 90% !important;
    padding: 2% !important;
}

.write-intro,
.write-title {
    min-width: 60% !important;
    margin: 0 auto !important;
}

.write-labels {
    font-size: 22px !important;
    float: left !important;
    margin-bottom: 10px !important;
}


.intro-textarea {
    width: 100% !important;
    background-color: #242424;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2%;
    border-radius: 10px;
    resize: none;
    font-size: 20px;
}