.write {
    display: flex;
    justify-content: center !important;
    flex-direction: row;
    width: 100%;
    margin: 0 auto !important;
    margin-top: 85px !important;
    height: 100vh !important;
    overflow-y: auto;
}

.write-top {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto !important;
}

.write-items { 
    margin: 0 auto !important;
    min-height: 90% !important;
    display: flex;
    flex-direction: column;
    max-width: 90% !important;
    padding: 2% !important;
}

.write-intro,
.write-title {
    display: flex;
    flex-direction: column;
    min-width: 60% !important;
    margin: 0 auto !important;
}

.write-labels {
    font-size: 22px !important;
    float: left !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    margin-right: 20px !important;
    width: 10% !important;
}

.intro-textarea {
    width: 100% !important;
    background-color: #242424;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    border-radius: 10px;
    resize: none;
    font-size: 20px;
}

.save-write-item {
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 34px !important;
}

.save-write-item:hover {
    border: 1px solid white !important;
    background-color: rgba(246, 246, 246, 0.342) !important;
    color: black !important;
    transition: 0.5s;
}

.item-hover:hover {
    background-color: rgba(246, 246, 246, 0.342) !important;
    border-radius: 10px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    transition: 0.2s !important;
    font-size: 34px !important;
}

.new-paragraphs {
    border-radius: 10px;
    margin-top: 20px;
}

.paragraph-write {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
    padding: 1%;
    border-radius: 10px !important;
    cursor: cell;
}

.write-paragraph-title-wrapper {
    display: flex;
    border-radius: 10px !important;
    justify-content: space-between;
    align-items: center;
}

.write-paragraph-title {
    padding: 1%;
    padding-left: 40px;
}

.write-paragraph-text {
    padding-left: 55px;
    max-width: 90%;
}
/* 
.paragraph-write:hover,
.write-paragraph-title-wrapper:hover {
    border: 1px solid white !important;
    background-color: rgba(246, 246, 246, 0.342) !important;
    color: black !important;
    transition: 0.5s;
} */