.include-grid {
    display: flex;
    justify-content: center;
    min-width: 90% !important;
    margin: 0 auto;
    padding: 1%;
    background-color: #140b20;
    flex-direction: column;
    border: 1px solid aliceblue;
    color: aliceblue;
    margin: 5px auto !important;
}

.paragraph-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: rgb(92, 89, 89);
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    min-width: 100% !important;
}


.paragraph-dropdown:hover {
    background-color: rgba(92, 89, 89, 0.822);
}

.paragraph-wrapper{ 
    padding:1%;
}

.paragraph-text {
    background-color: rgba(92, 89, 89, 0.253);
    border-radius: 10px;
    padding: 1%;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.paragraph-title-drop {
    display: flex;
    min-width: 100% !important;
}

.more-button {
    background-color: rgb(92, 89, 89) !important;
    height: 100%;
    border-radius: 10px !important;
    font-weight: bold !important;
    color: aliceblue !important;
}


.dropdown-smaller {
    min-width: 87.5% !important;
    margin-right: 10px !important; 
}